@import './../../styles/_variables.scss';

.footer {
  padding: 10px;
  border-radius: 20px 20px 0 0;
  background-color: var(--footer-bg-color);
  color: var(--text-primary-color);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__social {
    display: flex;
    gap: 15px;
  }

  &__element {
    display: flex;
    align-items: center;
    &:hover {
      color: var(--text-secondary-color);
    }
    svg{
      margin-right: 5px;
    }
  }

  &__copyright {

  }
}
