@use './../../styles/_mixins.scss' as mix;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1rem 0;

    &--active {
      transform: translateY(0);
    }
  }

  &__item {
    a {
      @include mix.button-style;
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__burger {
    display: none;
  }

  &__burger-line {
    width: 100%;
    height: 3px;
    background-color: var(--text-primary-color);
    transition: all 0.3s ease;
  }

  &__burger.active .nav__burger-line {
    background-color:  var(--text-secondary-color);
  }
  @media (max-width: 768px) {
    &__burger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 25px;
      height: 20px;
      cursor: pointer;

      position: relative;
      z-index: 1100;
    }

    &__list {
      color: var(--text-secondary-color);
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(20, 20, 20, 0.9);
      backdrop-filter: blur(15px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: transform 0.3s ease-in-out;
      transform: translateY(-100%);
      z-index: 1000;
      padding: 0;
      margin: 0;
      gap: 30px;
    }

    &__list--active {
      transform: translateY(0);
    }

    &__item {
      width: 70%;
      text-align: center;
      margin: 0 auto;
      font-size: 1.2em;

    }
  }
}
